.ticket {
  padding: 20px 15px;
  margin: 20px auto;
  width: 80vw;
  border-radius: 5px;
  background-color: rgba(250, 250, 250, 0.85);
  box-shadow: -2px 4px 4px rgba(20, 20, 20, 0.1);
}

.ticket:hover {
  box-shadow: -2px 4px 4px rgba(20, 20, 20, 0.25);
}

.ticket-title {
  font-weight: bold;
  padding: 5px 0 20px;
}

.ticket-content {
  padding-bottom: 20px;
  line-height: 1.5em;
}
.ticket-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.info {
  font-size: 0.8em;
}

.lables {
  margin-right: 20px;
}

.lable {
  background-color: rgba(218, 239, 254, 0.9);
  padding: 5px 15px;
  border-radius: 5px;
  margin: auto 3px;
}
